<h2>Show photo</h2>

<ul>

  <li>
    <strong>Event:</strong>
    <%= @photo.event_id %>
  </li>

  <li>
    <strong>Uploader:</strong>
    <%= @photo.uploader %>
  </li>

  <li>
    <strong>S3 path:</strong>
    <%= @photo.s3_path %>
  </li>

</ul>
